<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
  <div class="flex flex-row justify-between ">
    <div class="flex flex-col w-5/6  bg-white/50 mx-auto px-2 shadow-xl shadow-max-yel-green-500/50">
      <div class="flex">
        <h2 class="my-4 pb-2 text-4xl w-full font-bold text-dark-slate-gray bg-gradient-to-r from-base-100 border-b-4 border-forest-green">My Feed</h2>
      </div>
      <ul class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">
        <% for(var i=0; i<recipes.length; i++) {%>
          <li>
            <div class="max-h-[450px] card h-max-[475px] bg-base-100 shadow-xl">
              <figure class="flex-1 overflow-hidden">
                <img class="object-center object-cover" src="<%= recipes[i].image%>" alt="#"/>
              </figure>
              <div class="card-body">
                <a href="/recipe/<%= recipes[i]._id%>">
                  <h2 class="card-title text-dark-slate-gray"><%= recipes[i].name %></h2>
                  <p class="max-h-20 text-dark-slate-gray text-ellipsis overflow-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie dapibus augue quis rutrum. Ut nibh urna, suscipit quis elementum vel, rhoncus ut nibh. Nam non nisl nec dolor pretium consectetur eget ac quam. Sed in tortor at purus mollis posuere id nec nunc. Vivamus consequat massa nulla. Ut consectetur eros ex, eu porttitor massa bibendum volutpat. Nulla vitae efficitur ipsum. Morbi lobortis pulvinar arcu at dapibus. Aliquam at enim lobortis, fermentum sapien a, rutrum augue.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-outline btn-success">Discover</button>
                  </div>
                </a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
  </div>
</div>

<%- include('partials/modal') %>
<%- include('partials/footer') -%>