<%- include('partials/header') -%> <%- include('partials/navbar') -%>
<div class="flex flex-row justify-between">
  <div
    class="flex flex-col w-5/6 bg-white/50 mx-auto px-2 shadow-xl shadow-max-yel-green-500/50"
  >
    <div class="flex">
      <h2
        class="my-4 pb-2 text-4xl w-full font-bold text-dark-slate-gray bg-gradient-to-r from-base-100 border-b-4 border-forest-green"
      >
        My Feed
      </h2>
    </div>
    <%- include('partials/recipeCard') -%>
    <div class="dash-link-container">
      <a href="/feed?skip=<%=skip-4 %> ">Previous</a>
      <a href="/feed?skip=<%=skip+4 > totalRecipes ? skip : skip+4 %>"
        >Next</a
      >
    </div>
  </div>
</div>

<%- include('partials/modal') %> <%- include('partials/footer') -%>
