<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
  <div class="flex flex-row justify-between ">
    <div class="flex flex-col w-5/6  bg-white/50 mx-auto px-2 shadow-xl shadow-max-yel-green-500/50">
      <div class="flex">
        <h2 class="my-4 pb-2 text-4xl w-full font-bold text-dark-slate-gray bg-gradient-to-r from-base-100 border-b-4 border-forest-green">My Recipes</h2>
      </div>
      <!--///////////////////////////////// RECIPE CARD START /////////////////////////////////-->
      <% if(recipes.length === 0) { %>
        <div class="flex justify-center h-screen">
        <p class="text-center p-[8%] w-3/4 h-[200px] mt-[40%] text-dark-slate-gray text-1xl font-bold bg-white/50">We know the best recipes come from the heart, and we can't wait to see what you've got cooking! Start by adding your favorite recipe and let's create some culinary magic together</p>
        <div>
        <% } else { %>
          <ul
            class="flex flex-col md:flex-none md:grid lg:gap-4 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-4 lg:grid-rows-3">
        <% for(var i=0; i<recipes.length; i++) {%>
          <li>
            <div class="card lg:card-side bg-base-100 shadow-xl">
              <figure class="w-[50%]">
                <img class="w-fit h-[200px]" src="<%= recipes[i].image%>" alt="#" />
              </figure>
              <div class="card-body w-[50%]">
                <a href="/recipe/<%= recipes[i]._id%>">
                  <h2 class="card-title">
                    <%= recipes[i].name %>
                  </h2>
                  <p>The description will go here</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-outline btn-success">Discover</button>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      <% } %>
        <!--///////////////////////////////// RECIPE CARD END /////////////////////////////////-->
    </div>
  </div>
  <!-- Put this part before </body> tag MODAL CREATE RECIPE CONTENT-->
  <%- include('partials/modal') %>
  <%- include('partials/footer') -%>